
        
        header {
            padding: 20px;
            background-color: #144877;
            color: white;
            text-align: center;
            position: relative;
           animation-name: droppingdown;
           animation-duration: 3s;
           animation-iteration-count: 2;
           animation-direction: alternate;
           animation-fill-mode: forwards;
        }


        .maincontainer {
            position: relative;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .maincontainer h1 {
            display: inline-block;
        }


        .buttonaki {
            border-radius: 50%;
            width: 0.4em;
            height: 0.4em;
            background-color: #ffffff;
            position: relative;
            border: 0.1px solid transparent;
            animation: standby 1s infinite alternate;
            display: inline-block;
            /* Initial values of top and right, otherwise the animation will be abrupt. */
            top: 0;
            right: 0;
        }

        .buttonakiinaction1 {
            transition-duration: 1s;
            top: 2vw;
            right: 7%;
        }

        .buttonakiinaction2 {
            transform: scale(1000);
            transition-duration: 1s;

        }


        @keyframes standby {
            from {opacity: 0;}
            to {opacity: 1;}
        }


        header span {
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        header span::after {
            content: "\d7";
            color: white;
        }

        nav a span {display: none;}

        /* The following CSS is invalid, because the second part of the selector should
        be inside the first one (in this example, it's the opposite of what is possible.
        Using flexbox, however, this may have a solution.

        header span:hover header {
            background-color: teal;
        } */

        @media screen and (max-width: 795px) {
            img {float: none; margin: 0 10vw;}

            nav {width: 30%; position: absolute;}

            nav a {display: block; padding: 22px 0; text-align: center;}

            nav a h2 {
                text-align: center;
                margin-right: 0;
                margin-left: 0;}

            nav a span {
                display: inline;
                background-color: #017197;
                margin: 0;
                padding: 0 10px;
                border-radius: 20px;
                animation: flashingbutton 2s infinite alternate
            }

                @keyframes flashingbutton {
                    from {opacity: 0;}
                    to {opacity: 1;}                    
                }

            .maincontainer {width: 25%;}


            nav a:last-of-type {float: none; text-align: center; padding: 10px;}

            header {visibility: hidden;}

        }

        .purge {
            display: none;
        }


        @media screen and (max-width: 682px) {
            .buttonaki {left:75%;}
        }
